@use "@bardoui/termeh/termeh.scss" as T;
@use "./vars.scss";
@forward "@bardoui/termeh/styles.scss";
@forward "@bardoui/termeh/layout/all.scss";
@forward "@bardoui/termeh/form/all.scss";
@forward "@bardoui/termeh/components/all.scss";
@forward "@bardoui/termeh/helpers/all.scss";

// Components
@import "@/choose.scss";
@import "@/dropdown.scss";
@import "@/field.scss";
@import "@/file-upload.scss";
@import "@/icon-toggle.scss";
@import "@/jalaali-picker.scss";
@import "@/options.scss";
@import "@/pagination.scss";
@import "@/pie.scss";
@import "@/tile.scss";
@import "@/toggle.scss";
@import "@/toman.scss";

// Custom styling
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    background: T.variant("base", "section");
}
section {
    display: block;
    padding: 1rem;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
code {
    white-space: pre;
    margin-bottom: 1rem;
}

h3 {
    color: T.variant("primary", "readable");
}
